*
!.aliases
!.bash-completion.d
!.bash-completion.d/*
!.bash-git-prompt
!.bash-git-prompt/**
!.bash_profile
!.export
!.gitignore
!.iterm2
!.iterm2/*
!.mac_setup
!.macport_installed
!.macport_requested
!.offlineimaprc
!.tigrc
!.tmux.conf
!.vimrc
!README.md
