*
!.aliases
!.bash-completion.d
!.bash-completion.d/*
!.bash-git-prompt
!.bash-git-prompt/**
!.bash_profile
!.export
!.gitignore
!.gitconfig
!.iterm2
!.iterm2/*
!.iterm2_shell_integration.bash
!.mac_setup
!.macport
!.offlineimaprc
!.tigrc
!.tmux.conf
!.vimrc
!README.md
.atom
